{% extends 'base3.html' %} {% load static %} {%block css%}

<link rel="stylesheet" href="{%static './css/about.css'%}" />

{% endblock%} {% block title %} Contact Details {% endblock %} {%block top%}
<div>
  <ul class="all-cat-items">
    <li class="cat-item">
      <a id="cat-link" href="{%url 'about'%}">About Us</a>
    </li>
    <li class="cat-item">
      <a id="cat-link" href="{%url 'contact'%}">Contact</a>
    </li>
    <li class="cat-item">
      <a id="cat-link" href="{%url 'delivery'%}">Shipping Details</a>
    </li>
  </ul>
</div>
{% endblock%} {% block content %}
<div class="main-content">
  <section>
    <div class="top-sign">
      <img
        id="contact_photo"
        src="{% static './img/content/contact-head.png'%}"
        alt="about-top"
      />
    </div>
    <div class="page-content">
        <div class="list"> 
          <div class="list-img">
            <img
              id='buzia-img-dir'
              src="{% static './img/content/contact_list.png'%}"
              alt="about-top"
            />
          </div>
          <div class="list-text">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.ke
            </p>
          </div>
      </div>
      <div class="buzia">
        <div class="buzia-img">
          <img
            id='buzia-img-dir'
            src="{% static './img/content/contact_buzia.png'%}"
            alt="about-top"
            />
        </div>
        <div class="buzia-text">
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.ke2
          </p>
        </div>
      </div>
        
      <div class="skrzynka"> 
        <div class="skrzynka-img">
          <img
          id='skrzynka-img-dir'
          src="{% static './img/content/contact_skrzynka.png'%}"
          alt="about-top"
        />
        </div>
        <div class="skrzynka-text">
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
    </div>
  </section>

  {% endblock %}
</div>
