{% extends 'base2.html' %}
{% load static %}

{%block title%}
Total Random Crafts
{% endblock %}
{% block content %}

<div class = 'container'>
    <div class ='jumbotron'>
        <h3>Welcome to Total Random Crafts!</h3>
        <hr>
        <p>
        {{text1.content}}
        </p>

                <img id ="photo_main" src='{% static "/img/zdjecia.png" %}'></div>
    <h3>Random Craft for You: </h3>

        <div class="box-element product">
<div class = 'container'>
    <a href ='{%url "detail" product.id%}'>
    <img class= 'thumbnail' src ='{% static "/img/slonik.png" %}'>
    </a>
</div>

            <a href ='{%url "detail" product.id%}'>{{product.name}}</a><br>
            <strong>Price: </strong>{{product.price}}
                {%if product.number == 0%}
                <span id ='sold'> Sold Out</span>
                {%endif%}
                </br>
                <hr>

                <span id = 'opis_produktu'>{{product.short_description}}<br>
    Categories: {% for j in product.category.all %}</span>
                <span id = 'opis_produktu'><a href = '{%url "shop_category" j.name %}'>{{product.name}}</a></span>
    {% endfor %}
            </div>
        </div>



{% endblock %}}