{% extends 'base_admin2.html' %}

{% block title %}
Admin Panel
{% endblock %}

{% block content %}

{% load static %}





<div id="container">
    <h3>Welcome, {{user.username}} </h3>
<p>
    To jest strona administratora. Docelowo ma być interfejsem, z którego możliwe będzie zarządzanie serwisem.<br>
    Administrator bedzie mogl dodawac, usuwac i edytowac produkty w sklepie. Bedzie mogl zarzadzac trescia na podstronach,<br>
    a także zarządzać historią zamówień i stanem producktow w sklepie.
</p>
<h4>Admin menu: </h4>


    <p>
    To jest strona administratora. Docelowo ma być interfejsem, z którego możliwe będzie zarządzanie serwisem.<br>
    Administrator bedzie mogl dodawac, usuwac i edytowac produkty w sklepie. Bedzie mogl zarzadzac trescia na podstronach,<br>
    a także zarządzać historią zamówień i stanem producktow w sklepie.
</p>

    <p>
    To jest strona administratora. Docelowo ma być interfejsem, z którego możliwe będzie zarządzanie serwisem.<br>
    Administrator bedzie mogl dodawac, usuwac i edytowac produkty w sklepie. Bedzie mogl zarzadzac trescia na podstronach,<br>
    a także zarządzać historią zamówień i stanem producktow w sklepie.
</p>

    <p>
    To jest strona administratora. Docelowo ma być interfejsem, z którego możliwe będzie zarządzanie serwisem.<br>
    Administrator bedzie mogl dodawac, usuwac i edytowac produkty w sklepie. Bedzie mogl zarzadzac trescia na podstronach,<br>
    a także zarządzać historią zamówień i stanem producktow w sklepie.
</p>

    <p>
    To jest strona administratora. Docelowo ma być interfejsem, z którego możliwe będzie zarządzanie serwisem.<br>
    Administrator bedzie mogl dodawac, usuwac i edytowac produkty w sklepie. Bedzie mogl zarzadzac trescia na podstronach,<br>
    a także zarządzać historią zamówień i stanem producktow w sklepie.
</p>

    <p>
    To jest strona administratora. Docelowo ma być interfejsem, z którego możliwe będzie zarządzanie serwisem.<br>
    Administrator bedzie mogl dodawac, usuwac i edytowac produkty w sklepie. Bedzie mogl zarzadzac trescia na podstronach,<br>
    a także zarządzać historią zamówień i stanem producktow w sklepie.
</p>
    <p>
    To jest strona administratora. Docelowo ma być interfejsem, z którego możliwe będzie zarządzanie serwisem.<br>
    Administrator bedzie mogl dodawac, usuwac i edytowac produkty w sklepie. Bedzie mogl zarzadzac trescia na podstronach,<br>
    a także zarządzać historią zamówień i stanem producktow w sklepie.
</p>
</div>




{%endblock %}