{% extends 'base2.html' %}
{% load static %}
{% block title %}
{{category.name}}
{% endblock %}

{% block content %}

<div class = 'container'>
    <div class ='jumbotron'>
<h2>{{category.name}}:</h2>

<div class="row">
    {% for i in category.what_category.all %}

<div class="col-lg-4">
			<div class="box-element product">

                </br>
<div class = 'container'>
    <a href ='{%url "detail" i.id%}'>
    <img class= 'thumbnail' src ='{% static "/img/slonik.png" %}'>
    </a>
</div>
                <a href ='{%url "detail" i.id%}'>{{i.name}}</a><br>
<strong>Price: </strong>{{i.price}}</br>
                <hr>

                <span id = 'opis_produktu'>{{i.short_description}}<br>
    Categories: {% for j in i.category.all %}</span>
                <span id = 'opis_produktu'><a href = '{%url "shop_category" j.name %}'>{{j.name}}</a></span>
    {% endfor %}
            </div>
        </div>
{% endfor %}
</div>
    </div>

{% endblock %}