{% extends 'base3.html' %} {% load static %} {% block title %} {{category.name}}
{% endblock %} {% block css%} {%endblock%} {% block top %}
<div>
  <ul class="all-cat-items">
    {% for cat in categories %}
    <li class="cat-item">
      <a id="cat-link" href="{%url 'shop_category' cat.name%}"> {{cat.name}}</a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %} {% block content %}

<h2 class="cat-name">{{category.name}}:</h2>

<div class="main-content">
  {% for i in category.what_category.all %}
  <div class="polaroid">
    <div class="product-photo">
      <a href='{%url "detail" i.id%}'>
        <img class="thumbnail" src='{% static "/img/slonik.png" %}' />
      </a>
    </div>
    <div class="bot">
      <div class="opis">
        <a class="product_name" href='{%url "detail" i.id%}'>{{i.name}}</a
        ><br />
      </div>
    </div>
  </div>
  {% endfor %} {% endblock %}
</div>
