{%extends 'base3.html' %} {% load static %} {%block css%}
<link rel="stylesheet" type="text/css" href="{% static '/css/detail.css' %}" />
{%endblock%} {%block title%} {{product.name}} {%endblock %} {% block content %}

<div class="main-content">
  <div class="box1">
    <div class="polaroid">
      <div class="product-photo">
        <div class="thumbnail-container">
          <img class="thumbnail" src="/{{product.thumbnail.url}}" />
        </div>
      </div>
    </div>
  </div>
  <div class="box2">
    <h1>Box2</h1>
  </div>
  <div class="box3">
    <div class="mini" id="mini1">x</div>
    <div class="mini" id="mini2">x</div>
    <div class="mini" id="mini3">x</div>
  </div>
  <div class="box4">
    <div class="tabliczka">Shipping cost</div>
    <div class="tabliczka">Product descritpion</div>
    <div class="tabliczka">Return</div>
  </div>
</div>
{% endblock %}
