{% extends 'base3.html' %}
{% load static %}
{% block title %}
    Total Random Crafts Shop
{% endblock %}

{%block css%}

<style>
    #shop-nav{
        border-bottom: 5px solid var(--main-color);
    }
</style>
{% endblock%}

{% block top %}
<div>
    <ul class="all-cat-items">

    {% for cat in categories %}
    <li class = 'cat-item'><a id ='cat-link'  href="{%url 'shop_category' cat.name%}"> {{cat.name}}</a> </li>
    {% endfor %}
    </ul>

</div>

{% endblock %}

{% block content %}

<div class="main-content">
    
    {% for i in list_of_products%}
    <div class="polaroid">
        <div class="product-foto">
            <div class="hidd">       
            </br>
            <span id = 'opis_produktu'>{{i.short_description}}<br> </span>
            </div>

        <a href ='{%url "detail" i.id%}'>
        <img class= 'thumbnail' src ='{% static "/img/slonik.png" %}'>
        </a>
        </div>
        <div class="opis">
            <a class="product_name" href  ='{%url "detail" i.id%}'>{{i.name}}</a><br>
             <div class="price">
                {%if i.number == 0%}

                <span id ='sold'> Sold Out</span>

                {% else %}
                -,{{i.price}} £
                {%endif%}
            </div>
        </div>  
            
    </div>

{% endfor %}

{% endblock %}

</div>

</body>
</html>