{% extends 'base_admin.html' %}
{%load static%}
{% block title%}
All Products
{% endblock %}

{%block css%}

<link rel ="stylesheet" href="{%static './css/products.css'%}">

{% endblock%}

{%block top%}
<div>
  <ul class="all-cat-items">
    <li class="cat-item">
      <a id="cat-link" href="#">All Products</a>
    </li>
    <li class="cat-item">
      <a id="cat-link" href="{%url 'add_page'%}">Add Product</a>
    </li>
    <li class="cat-item"><a id="cat-link" href="{% url 'categories'%}">Categories</a></li>
  </ul>
</div>
{% endblock%}

{% block content %}
<h2>All Products</h2>

    <div class ='row'>
    {%for category in category_list%}
        <div class = 'col-lg-3'>
    <div class ='container'>
        <strong>{{category.name}}</strong>
    </div>
    <br>
    {%for product in category.what_category.all%}
<a href ='{%url "detail" product.id%}'>
    <strong>{{product.name}}</strong></a>
            <span id="'price">{{product.price}}</span>
    {%if product.number == 0%}
    <span id="sold">Sold out</span>
            {%else%}
             <span id ="prod_number">{{product.number}}</span>
    {%endif%}
            <a id = 'edit' href="#">edit</a>
    <br>
{% endfor %}
    </div>
    {% endfor %}
    </div></div></div></div>
{% endblock %}

