{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en-en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Handcrafted goods shop">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0">
    
        <link rel ="stylesheet" type="text/css" href="{% static '/css/main2.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <title>{%block title%} {%endblock%}</title>
        {% block css%}

        {%endblock%}

</head>

<body>
<header>
<nav> 
    <div class="top-nav">
        <div></div>
        <div class="logo-container">
            <img class="logo" src ='{% static "/img/logo4.png"%}'></div>
            <div class='user-int'>
                <div class= 'sociale'>
                    <img id="social-icon" src ='{% static "/img/icons/fb.png"%}'>
                    <img id="social-icon" src ='{% static "/img/icons/insta.png"%}'>
                    <img id="social-icon" src ='{% static "/img/icons/twitter.png"%}'>
                </div>
                <div class="koszyk">
                    <form action="{% url 'shop_admin' %}">
                    <button class ='login' href"> Login</button></form>
                    <img id="cart-icon" src ='{% static "/img/icons/bag.png"%}'>
                    
                    <p id="cart-total">0</p>
                </div>
        </div>


    </div>
    <div class="nav-links">
    <ul>    
        <li class ="nav-link" id='home-nav'><a href="{%url 'index'%}">Home</a></li>
        <li class ="nav-link" id='shop-nav'><a href="{%url 'shop'%}">Store</a></li>
        <li class ="nav-link"><a href="{% url 'shop_category' 'Sales'%}">Sales</a></li>
        <li class ="nav-link"><a href="{%url 'about'%}">About us</a></li>
    </ul>
    <hr>
    </div>



</div>
    <div class='bot_menu'>
    {% block top %}

    {% endblock %}
    </div>

</nav>
</header>


<main>



<div class ='content'>

    {% block content %}

    {% endblock %}


</div>

</main>



<footer>
        Made by .tore
</footer>



    {%block js%}

    {%endblock%}


</body>

</html>
