{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en-en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Handcrafted goods shop">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0">

        <link rel ="stylesheet" type="text/css" href="{% static '/css/admin.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <title>{%block title%} {%endblock%}</title>
    {% block css %}
    {% endblock %}

</head>

<body>
<header>
<nav>
    <div class="top-nav">
        <div></div>
        <div class="logo-container">
            <img class="logo" src ='{% static "/img/logo4.png"%}'></div>
            <div class='user-int'>
                <div class= 'sociale'>
                    <img id="social-icon" src ='{% static "/img/icons/fb.png"%}'>
                    <img id="social-icon" src ='{% static "/img/icons/insta.png"%}'>
                    <img id="social-icon" src ='{% static "/img/icons/twitter.png"%}'>
                </div>
                <div class="right-side">
                    <form action="{%url 'index'%}">
                    <button class ='login' href="#"> Login</button></form>
                    <form action="{%url 'index'%}">
                    <button class ='login' href"> Exit Admin Mode</button></form>
                </div>
              
        </div>

        
    </div>
    <div class='admin-mode'><h2 class='admin_napis'>Admin Mode:</h2></div>
    <div class="nav-links">
    <ul>
        <li class ="nav-link" id='stats-nav'><a href="{%url 'shop_admin'%}">Stats</a></li>
        <li class ="nav-link" id='shop-nav'><a href="{%url 'shop_orders'%}">Orders</a></li>
        <li class ="nav-link" id='products-nav'><a href="{% url 'all_products' %}">Products</a></li>
        <li class ="nav-link"><a href="{%url 'edit_pages'%}">Edit Pages</a></li>
    </ul>
    <hr>
    </div>



</div>
    <div class='bot_menu'>
    {% block top %}

    {% endblock %}
    </div>

</nav>
</header>


<main>



<div class ='content'>

    {% block content %}

    {% endblock %}


</div>

</main>



<footer>
        Made by .tore
</footer>



    {%block js%}

    {%endblock%}


</body>

</html>
