*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


:root {
    --main-color: hsl(178, 24%, 50%);
  }

nav{
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    
}

.nav-links{
padding: 5px 10px 5px 10px; 

}
.nav-links ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-link{
    padding: 12px;
}

.nav-link:hover{
    border-bottom: 5px solid var(--main-color);
}

.nav-link a{
    color:  var(--main-color);
    text-decoration: none;
    letter-spacing: 0.3rem;
    font-weight: 600;
}

.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-int{
    margin-top: 10x;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;


}

#cart-icon{
    height: 25px;
    width: 25px;
    margin:10px;
}

.logo-container{
    justify-self: flex-end;
    align-items: center;
}

.logo{ 
    position: relative;
    left: 42%;
    height: 95%;
    width: 90%;
}

.koszyk{
display: flex;
align-items: center;
justify-self: flex-end;
margin-left: 30px;
}

.login{
    border:4px solid var(--main-color);
    width: 10vw;
    height: 5vh;
    padding:5px;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    border-radius: 7px 7px 7px 7px;
}




.sociale{
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    position: relative;
    top: 5%;
}

#social-icon{
    height: 30px;
    width: 30px;
    padding: 10x;
    cursor: pointer;
}

.all-cat-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    align-items: center
}

.cat-item{
    list-style: none;
}
#cat-link{
    text-decoration: none;
    padding: 10px;
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 400;
}


.content{
    width:90%;
    margin:auto;
    background-color: linen;
}

.main-content{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
}

.thumbnail {
width: 300px;
height: 300px;
border: 1px solid black;
justify-self: center;
}

.thumbnail:hover {
    filter: brightness(50%);

}

.polaroid{
    padding: 20px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 12px 20px;

}



.nav-active{
    border-bottom: 5px solid var(--main-color);
}

.product_name{
    color: var(--main-color);
    text-decoration: none;
    font-size: 2.2em;
    font-family: 'Permanent Marker', cursive;

}

.hidd{
    display: none;
}