* {
  padding: 0;
  margin: 10px 0 0 0;
  box-sizing: border-box;
}

:root {
  --main-color: hsl(189, 100%, 50%)
}

nav {
  margin-top: 10px;
  display: flex;
  flex-flow: column wrap;
  width: 90%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.nav-links {
  padding: 0px 10px 0px 10px;
}
.nav-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-link {
  padding: 0 12px 0 12px;
  text-transform: uppercase;
}

.nav-link:hover {
  border-bottom: 5px solid var(--main-color);
}

.nav-link a {
  color: black;
  text-decoration: none;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.top-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}

.user-int {
  margin-top: 10x;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}



#cart-icon {
  height: 25px;
  width: 25px;
  margin: 10px;
  position: relative;
  top:10px;
}

.logo-container {
display: flex;
}

.logo {
  position: relative;
  justify-self: center;
  left:26vw;
}

.koszyk {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  margin-left: 30px;
}

.login {
  border: 4px solid var(--main-color);
  width: 10vw;
  height: 5vh;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  border-radius: 7px 7px 7px 7px;
}

.sociale {
  width: 10vw;
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  position: relative;
}

.heading{
  font-family: "Sue Ellen Francisco", cursive;
  text-align: center;
  margin-bottom: 20px;
  font-size: 3.0rem;
}

section p{
  font-family:"Sue Ellen Francisco", cursive;
  font-size: 2em;
}

section{
  display: flex;
  flex-flow: column wrap;
}

#social-icon {
  height: 30px;
  width: 30px;
  padding: 10x;
  cursor: pointer;
}

.all-cat-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10vh;
  align-items: flex-start;
}

.cat-item {
  list-style: none;
}
#cat-link {
  text-decoration: none;
  padding: 10px;
  color: darkgrey;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 550;
  text-transform: uppercase;
}

.content {
  width: 90%;
  margin: auto;
  background-color: white;
}

.main-content {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
}

.thumbnail {
  width: 300px;
  height: 300px;

  justify-self: center;
}

.price {
  display: none;
}

.price-active {
  display: block;
}

.thumbnail:hover {
  filter: brightness(50%);
}

.thumbnail:hover + .hidd {
  display: none;
}

.polaroid {
  padding: 0 20px 20px 20px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 12px 20px;
}

.nav-active {
  border-bottom: 5px solid var(--main-color);
}

.product_name {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.4em;
}

.opis {
  display: flex;
  font-family: "Permanent Marker", cursive;
  font-size: 1.8em;
  justify-content: center;
}

.lajk {
  position: fixed;
  top: 40px;
  left: 0px;
  z-index: 5;
}
.photo-zone{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 20px;
}
.photo1{
  width: 40vw;
  height: 60vh;
}
.photo2{
  width: 40vw;
  height: 60vh;
}
.hidd {
  display: none;
}
.cat-name{
margin:20px;
text-align: center;
font-family: "Sue Ellen Francisco", cursive;
font-size: 3.0 em;
}


footer {
  background-color: var(--main-color);
  border-top: 2px solid gray;
  margin-top: 40px;
  bottom: 0px;
  margin-top: 20px;
}










@media screen and (max-width: 1280px){
  .top-nav{
  flex-direction: column;
  align-items: center;
}
.logo{
  width: 50vw;
  height: 14vh;
  margin:auto;
  left:0;

  
}
}

@media screen and (max-width: 1024px){
  .top-nav{
  flex-direction: column;
  align-items: center;
}
.logo{
  width: 60vw;
  height: 13vh;
  margin:auto;
  left:0;
}

.all-cat-items{
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10%;
  margin: 100px;
}

@media screen and (max-width: 724px){
  .top-nav{
  flex-direction: column;
  align-items: center;
}
.logo{
  width: 80vw;
  height: 13vh;
  margin:auto;
  left:0;
  
}
.all-cat-items{
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10%;
  margin: 100px;
}
#cat-item{
  margin:10px;
}
}