#sale-nav {
  border-bottom: 5px solid var(--main-color);
}

.top-sign {
  display: flex;
  justify-items: center;
  align-items: flex-start;
  justify-content: space-between;
  height: 30vh;
  position: relative;
  bottom: 30px;
}

.sale1 {
  order: 1;
}
.sale2 {
  order: 3;
}
.sale3 {
  order: 2;
  right: 40px;
  position: relative;
}

#sale_photo1 {
  height: 15vh;
}

#sale_photo2 {
  height: 12vh;
}

#sale_photo3 {
  height: 12vh;
}

.thumbnail-sale {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  justify-self: center;
  position: relative;
}

.reverse-container {
  position: absolute;
  top: 0;
  left: 0;
}

.product-photo {
  position: relative;
}

.main-content {
  position: relative;
  bottom: 80px;
}

.reverse-image {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  justify-self: center;
  opacity: 0;
}
.bot {
  display: flex;
  flex-direction: column;
}

.polaroid:hover .reverse-image {
  opacity: 1;
  filter: brightness(70%);
  transition: 0.3s ease-in;
}

.polaroid:hover .thumbnail-sale {
  opacity: 0;
}

.polaroid:hover .duch2 {
  opacity: 1;
  transition: 0.5s ease 0.3s;
}

.duch2 {
  position: absolute;
  transform: rotate(10deg) translateY(-140px) translateX(90px);
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 50px;
  color: whitesmoke;
  opacity: 0;
  right: 50%;
  top: 50%;
}

.product_name {
  font-size: 3em;
  font-family: "Permanent Marker", cursive;
  color: black;
  position: relative;
  text-align: center;
}

#barg-span {
  text-decoration-line: line-through;
  font-size: 40px;
}
