#shop-nav {
  border-bottom: 5px solid var(--main-color);
}

#store-pic {
  width: 90vw;
  margin-bottom: 10px;
  position: relative;
  bottom: 30px;
}

#store-pic:hover {
  transform: translate(0%, 10%);
  animation: buj 0.7s ease;
}

.lajk:hover {
  cursor: pointer;
  animation: likemove 1s ease;
}

#store-pic:hover .lajk {
  transform: translate(0%, 10%);
}

.thumbnail-shop {
  width: 300px;
  height: 300px;
  border: 1px solid lightgray;
  justify-self: center;
  position: relative;
}

.reverse-container {
  position: absolute;
  top: 0;
  left: 0;
}

.product-photo {
  position: relative;
}

.reverse-image {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  justify-self: center;
  opacity: 0;
}

.polaroid:hover .reverse-image {
  opacity: 1;
  filter: brightness(70%);
  transition: 0.3s ease-in;
}

.polaroid:hover .thumbnail-shop {
  opacity: 0;
}

.polaroid:hover .duch2 {
  opacity: 1;
  transition: 0.5s ease 0.3s;
}

.polaroid {
  display: flex;
  flex-flow: column wrap;
  cursor: pointer;
}

.duch2 {
  position: absolute;
  transform: rotate(10deg) translateY(-140px) translateX(90px);
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 50px;
  color: whitesmoke;
  opacity: 0;
  right: 50%;
  top: 70%;
}
.bot {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.product_name {
  font-size: 3em;
  font-family: "Permanent Marker", cursive;
  color: black;
  position: relative;
  text-align: center;
}

#sold {
  transform: translateY(-110px) translateX(-10px);
  font-size: 60px;
}

@keyframes likemove {
  0% {
    transform: translate(0%, 0);
  }
  25% {
    transform: translate(0%, 35%);
  }
  75% {
    transform: translate(0%, -35%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes buj {
  0% {
    transform: translate(0%, 0);
  }
  25% {
    transform: translate(0%, 35%);
  }
  75% {
    transform: translate(0%, -35%);
  }
  100% {
    transform: translate(0%, 0);
  }
}
